version: "3.9"

services:
  migrate:
    build: .
    command: ["python3", "src/manage.py", "migrate"]
    env_file:
      - .env
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: python3 src/manage.py runserver 0.0.0.0:8000 --noreload
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
volumes:
  app:

