services:
  db:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_NAME}
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:standalone
    container_name: adminer_container
    ports:
      - "8080:8080"
    restart: always
    environment:
      ADMINER_DEFAULT_SERVER: db

  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: redis-server
    env_file:
      - .env
    volumes:
      - redis_data:/data

  migrate:
    build: .
    container_name: migrate-server
    command: ["python3", "src/manage.py", "migrate"]
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy

  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      migrate: 
        condition: service_completed_successfully
    command: ["python3", "src/manage.py", "runserver", "0.0.0.0:8000"]
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    volumes:
      - .:/app
      
  celery_worker:
    build: .
    container_name: worker_server
    depends_on:
      - redis
    command: ["celery", "-A", "core.celery", "worker", "--loglevel=info"]
    env_file:
      - .env
    volumes:
      - .:/app
    restart: unless-stopped

  celery_beat:
    build: .
    container_name: celery_beat
    depends_on:
      - redis
    command: ["celery", "-A", "core.celery", "beat", "--loglevel=info"]
    env_file:
      - .env
    volumes:
      - .:/app
    restart: unless-stopped


volumes:
  postgres_data:
  redis_data:

