version: "3.9"

services:
	web:
		build: .
		ports:
			- "8000:8000"
		volumes:
			- .:/app
		command: > sh -c "python manage.py migrate && gunicorn src.core.asgi:application --bind 0.0.0.0:8000"
	  env_file:
			- .env


volumes:
	app: