services:
  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_NAME}
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  adminer:
    image: adminer:standalone
    container_name: adminer_container
    ports:
      - "8080:8080"
    restart: always
    environment:
      ADMINER_DEFAULT_SERVER: db

  redis:
    image: redis:latest
    container_name: redis_server
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: redis-server
    env_file:
      - .env
    volumes:
      - redis_data:/data

  migrate:
    build: .
    container_name: migrate-server
    command: sh -c "python3  src/manage.py makemigrations && python3 src/manage.py migrate"
    env_file:
      - .env
    depends_on:
      - db

  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
  celery_worker:
    build: .
    container_name: worker_server
    depends_on:
      - redis
    command: ["celery", "-A", "core.celery", "worker", "--loglevel=info"]
    env_file:
      - .env
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:

